body, p, ul, li, h2, h3, input, textarea {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    line-height: 1.5;
    color: #333;
    background: #3c3a3b;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#msgBox {
    width: 500px;
    background: #fff;
    border-radius: 5px;
    margin: 10px auto;
    padding-top: 10px;
}

#msgBox form {
    background: url("img/boxBG.jpg") 0 100% repeat-x;
    padding: 0 20px 15px 20px;
}

#msgBox form h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

#msgBox form #userName,
#msgBox form #comment {
    color: #777;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    padding: 3px 5px;
    font-size: 14px;
    line-height: 1.5;
}

#msgBox form #userName {
    height: 22px;
}

#msgBox form #comment {
    width: 448px;
    resize: none;
    height: 65px;
    overflow: auto;
}

#msgBox form div {
    position: relative;
    color: #999;
    margin-top: 10px;
    overflow: hidden;
    zoom: 1;
}

#msgBox form img {
    border-radius: 3px;
}

#msgBox form #avatarList {
    position: absolute;
    top: 0;
    left: 172px;
}

#msgBox form #avatarList img {
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-right: 6px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    border: 1px solid transparent;
    float: left;
}

#msgBox form #avatarList img:hover,
#msgBox form #avatarList img.current {
    border-color: #f60;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

#msgBox form div p {
    float: right;
    vertical-align: top;
}

#msgBox form #send {
    width: 112px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
    background: #86c31f;
    border-radius: 6px;
    border: 2px solid gray;
    outline: none;
}

#msgBox form #send.disabled {
    background: gray;
}

#msgBox form #send:hover {
    background: #b2d692;
}

#msgBox form div p span {
    vertical-align: top;
}

#msgBox form div p .max {
    font-size: 25px;
    line-height: 30px;
    padding: 0 5px;
}

#msgBox #list {
    padding: 10px;
}

#msgBox #list h3 {
    position: relative;
    height: 33px;
    font-size: 14px;
    font-weight: 400;
    background: #e3eaec;
    border: 1px solid #dee4e7;
}

#msgBox #list h3 span {
    position: absolute;
    left: 6px;
    top: 6px;
    background: #fff;
    line-height: 28px;
    display: block;
    padding: 0 15px;
}

#msgBox #list ul {
    overflow: hidden;
    zoom: 1;
}

#msgBox #list ul li {
    float: left;
    clear: both;
    width: 100%;
    border-bottom: 1px dashed #d8d8d8;
    padding: 10px 0;
    background: #fff;
    overflow: hidden;
}

#msgBox #list ul li:hover {
    background: #f5f5f5;
}

#msgBox #list .avatar {
    float: left;
    width: 50px;
    height: 50px;
    display: inline;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius :3px;
}

#msgBox #list .content {
    float: left;
    width: 400px;
    font-size: 14px;
    margin-left: 10px;
    word-wrap :break-word;
}

#msgBox #list .userName {
    display: inline;
    padding-right: 5px;
}

#msgBox #list .userName a {
    color: #2b4a78;
}

#msgBox #list .msg {
    display: inline;
    word-wrap: break-word;
}

#msgBox #list .time {
    color: #889db6;
    font-size: 12px;
    line-height: 18px;
    margin-top: 5px;
    overflow: hidden;
    zoom: 1;
}

#msgBox #list .time span {
    float: left;
}

#msgBox #list .time a {
    float: right;
    color: #889db6;
    display: none;
}

#msgBox #list ul li:hover a {
    display: inline;
}
